<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://47.91.86.81/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://47.91.86.81/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://47.91.86.81/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>关于我们 | 简泊船舶</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__2JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/css/about-us.css" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-2690 node-type-page section-about-racing-dinghies">
<p id="skip-link">
  <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
  <div class="header-inner">
    <a href="/" title="首页" rel="home" class="header__logo" id="logo"><img
        src="http://47.91.86.81/sites/default/files/ibi_logo_1.png" alt="首页"
        class="header__logo-image"/></a>
    <div class="header__region region region-header">
      <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
        <div class="language"><a href="#">CH</a>&nbsp;|&nbsp;<a href="http://47.91.86.81/about-us.html">EN</a></div>
        <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
             class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                  type="button">
            <i class="icon-reorder"></i>
          </button>
          <div class="nav-collapse collapse always-show">
            <ul class="tb-megamenu-nav nav level-0 items-5">
              <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/zh-cn/index.html" class="dropdown-toggle">
                  首页 <span class="caret1"></span>
                </a>
              </li>
              <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="#" class="dropdown-toggle">
                  简泊船舶 <span class="caret"></span>
                </a>
                <div data-class="" data-width=""
                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                  <div class="mega-dropdown-inner">
                    <div class="tb-megamenu-row row-fluid">
                      <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                           id="tb-megamenu-column-1"
                           class="tb-megamenu-column span1  mega-col-nav">
                        <div class="tb-megamenu-column-inner mega-inner clearfix">
                          <div data-type="block" data-block="views--menu_blocks-block"
                               class="tb-megamenu-block tb-block tb-megamenu-block">
                            <div class="block-inner">
                              <div id="block-views-menu-blocks-block"
                                   class="block block-views first odd">
                                <!--<h2 class="block__title block-title">产品</h2>-->
                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                  <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/optimist-racer.html">玻璃钢比赛OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/optimist-trainer.html">玻璃钢训练OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/pe-polyethylene-opti.html">简泊滚塑OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-4 views-row-even views-row-last">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/parts.html">配件</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/news-list.html" class="dropdown-toggle">
                  新闻资讯 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/dealers.html" class="dropdown-toggle">
                  合作伙伴 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/about-us.html" class="dropdown-toggle">
                  关于我们 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/zh-cn/contact-us.html" class="dropdown-toggle">
                  联系我们 <span class="caret1"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div id="page">
  <div id="main">
    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">位置</h2><ol><li><a href="/">首页</a> › </li><li>简泊船舶</li></ol></nav>
          <a id="main-content"></a>
          <h1 class="page__title title" id="page-title">简泊船舶</h1>
          <article class="node-2690 node node-page view-mode-full clearfix" about="/about-racing-dinghies" typeof="foaf:Document">
            <header>
              <span property="dc:title" content="About Oneplus Boat" class="rdf-meta element-hidden"></span>
            </header>
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="content:encoded">
                  <p>简泊船舶有限公司致力于小帆船研发生产。主要产品有：滚塑OP帆船、玻璃钢训练OP帆船、国际帆船协会认证许可的比赛OP帆船。 以及专业救生衣，水上服装等。</p>
                  <p>&nbsp;</p>
				  <p>一、高品质产品</p>
                  <p>生产销售高品质产品是公司的基本原则。 </p>
                  <p>全球化让我们有机会学习西方先进的科学技术和产品质量标准；同时，融入中华民族几千年的精湛手工艺术，由此简泊船舶生产制造了做工精良，质量上乘的产品。</p>
                  <p>&nbsp;</p>
                  <p>二、完善的客户服务</p>
                  <p> “迅速响应，认真及时回复客户”是我们的服务标准。简泊团队成员都具有很多年船艇制造销售经验。我们认真倾听每一位顾客的需求，以真诚，务实，开放的精神，为您提供完美的客户服务。</p>
                  <p>&nbsp;</p>
                  <p>三、延展性产品</p>
                  <p>简泊船舶以OP帆船为主要经营产品，也提供救生衣，下水服，防晒服等专业装备。</p>
                  <p>同时，我们也为俱乐部和客户提供免费的国际赛事，动向信息。</p>
                  <p>我们愿意以绵薄之力助力中国帆船事业蓬勃发展；也愿意用我们的专业知识为俱乐部，帆友提供信息咨询。</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div id="navigation">
      </div>
    </div>
    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-block-6" class="block block-block first odd">
          <h2 class="block__title block-title">关于我们</h2>
          <p>上海简泊船舶有限公司，是一家集研发，生产，销售为一体的水上运动器材公司。</p>
        </div>
        <div id="block-views-blog-posts-block" class="block block-views odd">
          <h2 class="block__title block-title">新闻...</h2>
          <div class="view view-blog-posts view-id-blog_posts view-display-id-block view-dom-id-b972849ff278f81452c7e3e3a644d509">
            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                <div class="views-field views-field-field-photo-image">
                  <div class="field-content">
                    <a href="/zh-cn/news-list.html"><img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/news.jpg" width="270" height="175" alt="2019新年问候" /></a>
                  </div>
                </div>
                <div class="views-field views-field-title">
                  <span class="field-content"><a href="/zh-cn/news-list.html">2019新年问候</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="block-block-3" class="block block-block even">
          <h2 class="block__title block-title">联系我们</h2>
          <p>请通过电话 186 2193 5526 或者<a href="/zh-cn/contact-us.html">电子邮件</a> 联系我们，获取更多信息。</p>
        </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
  <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
    <ul class="menu">
      <li class="menu__item is-active-trail is-leaf first leaf active-trail"><a href="/zh-cn/about-us.html" class="menu__link is-active-trail active-trail active">关于我们</a></li>
      <li class="menu__item is-leaf leaf"><a href="/zh-cn/optimist-racer.html" class="menu__link">帆船</a></li>
      <li class="menu__item is-leaf last leaf"><a href="/zh-cn/contact-us.html" class="menu__link">联系我们</a></li>
    </ul>
  </div>
  <div id="block-block-1" class="block block-block last even">
    <div>© 2018-2019 简泊船舶</div>
    <div itemscope itemtype="">
      <span itemprop="name">简泊船舶</span>,
      <span itemprop="addressCountry">中国</span>,
      <span itemprop="addressRegion">上海市</span>,
      <span itemprop="addressLocality">闵行区</span>,
      <span itemprop="streetAddress">银春路1800弄19号201</span>
    </div>
  </div>
</div>

<script charset="utf-8" src="http://47.91.86.81/layui/layui.all.js"></script>
<script charset="utf-8" src="http://47.91.86.81/js/about-us.js"></script>
</body>
</html>