<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="zh-CN" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://www.oneplusboat.com/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.oneplusboat.com/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://www.oneplusboat.com/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>联系我们 | 简泊船舶</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__2JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <!--<link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__gyy3ixcHLsZHq7oR_EIdA_jAeCNBQeYsOGqLAMUguy0__3bKo0Z0e3yDbxokR8T55BwP2pspy521C1iXZbSQMSK8__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />-->
    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/css/contact-us.css" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-2691 node-type-webform section-contact-us">
<p id="skip-link">
  <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
  <div class="header-inner">
    <a href="/" title="首页" rel="home" class="header__logo" id="logo"><img
        src="http://www.oneplusboat.com/sites/default/files/ibi_logo_1.png" alt="首页"
        class="header__logo-image"/></a>
    <div class="header__region region region-header">
      <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
        <div class="language"><a href="#">CH</a>&nbsp;|&nbsp;<a href="http://www.oneplusboat.com/contact-us.html">EN</a></div>
        <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
             class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                  type="button">
            <i class="icon-reorder"></i>
          </button>
          <div class="nav-collapse collapse always-show">
            <ul class="tb-megamenu-nav nav level-0 items-5">
              <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/zh-cn/index.html" class="dropdown-toggle">
                  首页 <span class="caret1"></span>
                </a>
              </li>
              <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="#" class="dropdown-toggle">
                  简泊船舶 <span class="caret"></span>
                </a>
                <div data-class="" data-width=""
                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                  <div class="mega-dropdown-inner">
                    <div class="tb-megamenu-row row-fluid">
                      <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                           id="tb-megamenu-column-1"
                           class="tb-megamenu-column span1  mega-col-nav">
                        <div class="tb-megamenu-column-inner mega-inner clearfix">
                          <div data-type="block" data-block="views--menu_blocks-block"
                               class="tb-megamenu-block tb-block tb-megamenu-block">
                            <div class="block-inner">
                              <div id="block-views-menu-blocks-block"
                                   class="block block-views first odd">
                                <!--<h2 class="block__title block-title">产品</h2>-->
                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                  <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/optimist-racer.html">玻璃钢比赛OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/optimist-trainer.html">玻璃钢训练OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/pe-polyethylene-opti.html">简泊滚塑OP</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-4 views-row-even views-row-last">
                                      <div class="views-field views-field-name">
                                        <span class="field-content"><a href="/zh-cn/parts.html">配件</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/news-list.html" class="dropdown-toggle">
                  新闻资讯 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/dealers.html" class="dropdown-toggle">
                  合作伙伴 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/zh-cn/about-us.html" class="dropdown-toggle">
                  关于我们 <span class="caret1"></span>
                </a>
              </li>

              <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/zh-cn/contact-us.html" class="dropdown-toggle">
                  联系我们 <span class="caret1"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div id="page">
  <div id="main">
    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">位置</h2><ol><li><a href="/">首页</a> › </li><li>联系我们</li></ol></nav>
          <a id="main-content"></a>
          <h1 class="page__title title" id="page-title">联系我们</h1>
          <article class="node-2691 node node-webform node-promoted view-mode-full clearfix" about="/contact-us" typeof="sioc:Item foaf:Document">
            <header>
              <span property="dc:title" content="Contact Us" class="rdf-meta element-hidden"></span>
            </header>
            <form class="layui-form webform-client-form" enctype="multipart/form-data" method="post" id="webform-client-form-2691" accept-charset="UTF-8">
              <div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-name">
                  <label for="edit-submitted-name">姓名 <span class="form-required" title="This field is required.">*</span></label>
                  <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text" required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-email webform-container-inline" id="webform-component-email">
                  <label for="edit-submitted-email">邮箱 <span class="form-required" title="This field is required.">*</span></label>
                  <input class="email form-text form-email" type="email" id="edit-submitted-email" name="submitted[email]" size="60" required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-telephone">
                  <label for="edit-submitted-telephone">电话 <span class="form-required" title="This field is required.">*</span></label>
                  <input type="text" id="edit-submitted-telephone" name="submitted[telephone]" value="" size="60" maxlength="128" class="form-text" required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-subject">
                  <label for="edit-submitted-subject">标题 </label>
                  <input type="text" id="edit-submitted-subject" name="submitted[subject]" value="" size="60" maxlength="128" class="form-text" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textarea" id="webform-component-message">
                  <label for="edit-submitted-message">内容 <span class="form-required" title="This field is required.">*</span></label>
                  <div class="form-textarea-wrapper resizable">
                    <textarea id="edit-submitted-message" name="submitted[message]" cols="60" rows="5" class="form-textarea" required lay-verify="required" ></textarea>
                  </div>
                </div>
                <div class="layui-form-item form-actions form-wrapper" id="edit-actions">
                  <input type="submit" id="edit-submit" name="op" value="提交" class="form-submit" lay-submit lay-filter="edit-submit" />
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
      <div class="region region-content-bottom">
        <div id="block-block-5" class="block block-block first last odd">
          <h2 class="block__title block-title">我们的地址</h2>
          <!--百度地图容器-->
          <div id="dituContent"></div>
        </div>
      </div>
      <div id="navigation">
      </div>
    </div>
    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-block-4" class="block block-block odd">
          <h2 class="block__title block-title">联系我们</h2>
          <div itemscope="" itemtype="http://schema.org/PostalAddress">
            <p>我们公司地址 :
              <span itemprop="name"><strong>简泊船舶</strong></span><br />
              <span itemprop="addressCountry">中国</span>,
              <span itemprop="addressRegion">上海市</span>,
              <span itemprop="addressLocality">闵行区</span>,<br />
              <span itemprop="streetAddress">银春路1800弄19号201</span><br />
            </p>
          </div>
          <p>
            联系人: 焦女士<br />
            邮箱: ellen.jiao@liusgear.com<br />
            电话: 0086 186 2193 5526<br />
          </p>
        </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
  <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
    <ul class="menu">
      <li class="menu__item is-leaf first leaf"><a href="/zh-cn/about-us.html" class="menu__link">关于我们</a></li>
      <li class="menu__item is-leaf leaf"><a href="/zh-cn/optimist-racer.html" class="menu__link">帆船</a></li>
      <li class="menu__item is-active-trail is-leaf last leaf active-trail"><a href="/zh-cn/contact-us.html" class="menu__link is-active-trail active-trail active">联系我们</a></li>
    </ul>
  </div>
  <div id="block-block-1" class="block block-block last even">
    <div>© 2018-2019 简泊船舶</div>
    <div itemscope itemtype="">
      <span itemprop="name">简泊船舶</span>,
      <span itemprop="addressCountry">中国</span>,
      <span itemprop="addressRegion">上海市</span>,
      <span itemprop="addressLocality">闵行区</span>,
      <span itemprop="streetAddress">银春路1800弄19号201</span>
    </div>
  </div>
</div>

<script charset="utf-8" src="http://www.oneplusboat.com/layui/layui.all.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>
<script charset="utf-8" src="http://www.oneplusboat.com/js/contact-us.js"></script>
<script type="text/javascript">
    var $ = layui.jquery;

    function gotobaidu(type)
    {
        if($.trim($("input[name=origin]").val())=="")
        {
            alert("请输入起点！");
            return;
        }else{
            if(type==1)
            {
                $("input[name=mode]").val("transit");
                $("#gotobaiduform")[0].submit();
            }else if(type==2)
            {
                $("input[name=mode]").val("driving");
                $("#gotobaiduform")[0].submit();
            }
        }
    }
    (function() {
        var map = new BMap.Map("dituContent");
        var point = new BMap.Point(121.401427,31.03315);//定义一个中心点坐标
        map.centerAndZoom(point, 15);
        map.enableScrollWheelZoom();
        var marker=new BMap.Marker(point);
        map.addOverlay(marker);
        var licontent="<b>上海简泊船舶有限公司</b><br>";
        licontent+="<span><strong>地址：</strong>中国上海市闵行区银春路1800弄19号201</span><br>";
        licontent+="<span><strong>联系人：</strong>焦女士</span><br>";
        licontent+="<span><strong>邮箱：</strong>ellen.jiao@liusgear.com</span><br>";
        licontent+="<span><strong>电话：</strong>(0086)18621935526</span><br>";
        licontent+="<span class='input'><strong></strong><input class='outset' type='text' name='origin' value='虹桥火车站'/><input class='outset-but' type='button' value='驾车'  onclick='gotobaidu(2)'/><a class='gotob' href=\"url='http://api.map.baidu.com/direction?destination=latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:上海简泊船舶有限公司®ion=上海&output=html'\" target='_blank'></a></span>";

        var hiddeninput="<input type=\"hidden\" value=\""+'虹桥火车站'+"\" name=\"region\" /><input type=\"hidden\" value=\"html\" name=\"output\" /><input type=\"hidden\" value=\"driving\" name=\"mode\" /><input type=\"hidden\" value=\"latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:上海简泊船舶有限公司"+"\" name=\"destination\" />";

        var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";

        var opts1 = { width: 400 };

        var  infoWindow = new BMap.InfoWindow(content1, opts1);
        marker.openInfoWindow(infoWindow);
        marker.addEventListener('click',function(){
            marker.openInfoWindow(infoWindow);
        });
    })();
</script>
</body>
</html>