<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://47.91.86.81/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://47.91.86.81/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://47.91.86.81/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>合作伙伴 | 简泊船舶</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__2JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/css/dealers.css" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-taxonomy page-taxonomy-parent page-taxonomy-parent- page-taxonomy-parent-11 section-clothing page-views" >
<p id="skip-link">
  <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
    <div class="header-inner">
        <a href="/" title="首页" rel="home" class="header__logo" id="logo"><img
            src="http://47.91.86.81/sites/default/files/ibi_logo_1.png" alt="首页"
            class="header__logo-image"/></a>
        <div class="header__region region region-header">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
                <div class="language"><a href="#">CH</a>&nbsp;|&nbsp;<a href="http://47.91.86.81/dealers.html">EN</a></div>
                <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
                     class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                            type="button">
                        <i class="icon-reorder"></i>
                    </button>
                    <div class="nav-collapse collapse always-show">
                        <ul class="tb-megamenu-nav nav level-0 items-5">
                            <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/index.html" class="dropdown-toggle">
                                    首页 <span class="caret1"></span>
                                </a>
                            </li>
                            <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="#" class="dropdown-toggle">
                                    简泊船舶 <span class="caret"></span>
                                </a>
                                <div data-class="" data-width=""
                                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                                    <div class="mega-dropdown-inner">
                                        <div class="tb-megamenu-row row-fluid">
                                            <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                                                 id="tb-megamenu-column-1"
                                                 class="tb-megamenu-column span1  mega-col-nav">
                                                <div class="tb-megamenu-column-inner mega-inner clearfix">
                                                    <div data-type="block" data-block="views--menu_blocks-block"
                                                         class="tb-megamenu-block tb-block tb-megamenu-block">
                                                        <div class="block-inner">
                                                            <div id="block-views-menu-blocks-block"
                                                                 class="block block-views first odd">
                                                                <!--<h2 class="block__title block-title">产品</h2>-->
                                                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                                                    <div class="view-content">
                                                                        <div class="views-row views-row-1 views-row-odd views-row-first">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-racer.html">玻璃钢比赛OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-2 views-row-even">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-trainer.html">玻璃钢训练OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-3 views-row-odd">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/pe-polyethylene-opti.html">简泊滚塑OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-4 views-row-even views-row-last">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/parts.html">配件</a></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/news-list.html" class="dropdown-toggle">
                                    新闻资讯 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/dealers.html" class="dropdown-toggle">
                                    合作伙伴 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/about-us.html" class="dropdown-toggle">
                                    关于我们 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/contact-us.html" class="dropdown-toggle">
                                    联系我们 <span class="caret1"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div id="page">

  <div id="main">

    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <!--<nav class="breadcrumb" role="navigation"><h2 class="element-invisible">位置</h2><ol><li><a href="/">首页</a> › </li><li>Parts</li></ol></nav>      <a id="main-content"></a>-->
          <h1 class="page__title title" id="page-title">Dealers</h1>
          <div class="view view-taxonomy-images view-id-taxonomy_images view-display-id-page view-dom-id-6dcd0468c98655feaeac76e076d30675">
            <div class="view-content">
                <h2 class="page__title area">Asian</h2>
                <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-2">
                    <div class="views-row views-row-1 views-row-first">

                        <div class="views-column views-column-1 views-column-first">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content">
                                    <a href="#">
                                        <img typeof="foaf:Image"
                                             src="http://47.91.86.81/sites/default/files/parts/flag/China.jpg"
                                             width="120" height="80" alt="China" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"><h3>OnePlus Boat Ltd</h3></span>
                                <span class="field-content intro">Add: Room201, Building 19, Yinchun Rd 1800, Minhang District Shanghai</span>
                                <span class="field-content intro">Contact: Ellen Jiao</span>
                                <span class="field-content intro">T: 0086 186 2193 5526</a></span>
                                <span class="field-content intro"><a href="mailto:ellen.jiao@liusgear.com">E: ellen.jiao@liusgear.com</a></span>
                                <span class="field-content intro"><a href="http://www.oneplusboat.com" target="_blank">www.oneplusboat.com</a></span>
                            </div>
                        </div>
                        <div class="views-column views-column-2 views-column-last">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content">
                                    <a href="#">
                                        <img typeof="foaf:Image"
                                             src="http://47.91.86.81/sites/default/files/parts/flag/Korea.jpg"
                                             width="120" height="80" alt="Korea" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"><h3>Marine 7</h3></span>
                                <span class="field-content intro">Add: 2009(marinepark), 2 Marine city 2-ro, Haeundae, Busan, Korea</span>
                                <span class="field-content intro">Contact: Gunwoo</span>
                                <span class="field-content intro">T:0082 51 741 7741</span>
                                <span class="field-content intro"><a href="mailto:marineseven7@gmail.com">E:marineseven7@gmail.com</a></span>
                                <span class="field-content intro"><a href="#"></a></span>
                            </div>
                        </div>
                    </div>
                    <div class="views-row views-row-2 views-row-last">
                        <div class="views-column views-column-1 views-column-first">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content">
                                    <a href="#">
                                        <img typeof="foaf:Image"
                                             src="http://47.91.86.81/sites/default/files/parts/flag/Pakistan.jpg"
                                             width="120" height="80" alt="Pakistan" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"><h3>BAABAN ENTERPRISES</h3></span>
                                <span class="field-content intro">Add: 105/3,KHAYABAN-E-MUHAFIZ, OFF 14TH STREET, PHASE-VI,DHA,KARACHI</span>
                                <span class="field-content intro">Contact: Captain AbdurRehmanArshad</span>
                                <span class="field-content intro">T: 0092 3312 3337 42</span>
                                <span class="field-content intro"><a href="mailto:sararshad@gmail.com">E: sararshad@gmail.com</a></span>
                                <span class="field-content intro"><a href="#"></a></span>
                            </div>
                        </div>
                        <div class="views-column views-column-2 views-column-last">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content"></div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div style="clear: both"></div>
          <div class="view view-taxonomy-images view-id-taxonomy_images view-display-id-page view-dom-id-6dcd0468c98655feaeac76e076d30675">
            <div class="view-content">
              <h2 class="page__title area">Europe</h2>
              <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-2">
                  <div class="views-row views-row-1 views-row-first ">

                        <div class="views-column views-column-1 views-column-first">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content">
                                    <a href="#">
                                        <img typeof="foaf:Image"
                                             src="http://47.91.86.81/sites/default/files/parts/flag/Holland.jpg"
                                             width="120" height="80" alt="HOLLAND—WAREHOUSE IN EUROPE" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"><h3>KICK</h3></span>
                                <span class="field-content intro">Add: Hengelder 32, 6902 PA Zevenaar Holland</span>
                                <span class="field-content intro">Contact: PleuniHolthausen</span>
                                <span class="field-content intro">T: 0031(0)316-527055</span>
                                <span class="field-content intro"><a href="mailto:info@kickwatersports.nl">E: info@kickwatersports.nl</a></span>
                                <span class="field-content intro"><a href="http://www.kick.com" target="_blank">www.kick.com</a></span>
                            </div>
                        </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/flag/France.jpg"
                                           width="120" height="80" alt="France" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content intro"><h3>2WIN</h3></span>
                              <span class="field-content intro">Add: 14 Rue Antia Conti ZI perigny 17180 PERIGNY FRANCE</span>
                              <span class="field-content intro">Contact: Jean-Noel Heraud</span>
                              <span class="field-content intro">T: 0033(0)5 46 44 22 82</span>
                              <span class="field-content intro"><a href="mailto:contact@2-win.fr">E: contact@2-win.fr</a></span>
                              <span class="field-content intro"><a href="http://www.2-win.fr" target="_blank">www.2-win.fr</a></span>
                          </div>
                      </div>
                 </div>
                  <div class="views-row views-row-2 views-row-last">

                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/flag/Spain.jpg"
                                           width="120" height="80" alt="Spain" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content intro"><h3>Lenam Vela LigeraS.l.</h3></span>
                              <span class="field-content intro">Add: CarrerSantCeloni 69 08450 Llinars del Vallés, Barcelona (España)</span>
                              <span class="field-content intro">Contact: ManelGuardiola</span>
                              <span class="field-content intro">T: 678351235</span>
                              <span class="field-content intro"><a href="mailto:info@lenam.net">E: info@lenam.net</a></span>
                              <span class="field-content intro"><a href="http://www.lenam.net" target="_blank">www.lenam.net</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/flag/UK.jpg"
                                           width="120" height="80" alt="UK" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content intro"><h3>IBI Sailing Ltd</h3></span>
                              <span class="field-content intro">Add: Unit 20 Birdham Business Park Birdham Road Chichester, West Sussex UK</span>
                              <span class="field-content intro">Contact: Charles Ainsworth</span>
                              <span class="field-content intro">T: 012343 513002</span>
                              <span class="field-content intro"><a href="mailto:sales@ibisailing.co.uk">E: sales@ibisailing.co.uk</a></span>
                              <span class="field-content intro"><a href="http://www.racingdinghies.co.uk" target="_blank">www.racingdinghies.co.uk</a></span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
            <div style="clear: both"></div>
            <div class="view view-taxonomy-images view-id-taxonomy_images view-display-id-page view-dom-id-6dcd0468c98655feaeac76e076d30675">
            <div class="view-content">
                <h2 class="page__title area">America</h2>
                <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-2">
                    <div class="views-row views-row-1 views-row-first views-row-last">

                        <div class="views-column views-column-1 views-column-first">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content">
                                    <a href="#">
                                        <img typeof="foaf:Image"
                                             src="http://47.91.86.81/sites/default/files/parts/flag/USA.jpg"
                                             width="120" height="80" alt="USA" />
                                    </a>
                                </div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"><h3>Sturgis Boat works</h3></span>
                                <span class="field-content intro">Add: Cape Cod 80 Mid Tech Dr., West Yarmouth, MA 0267</span>
                                <span class="field-content intro">Contact: Matt Wake</span>
                                <span class="field-content intro">T:508 778 9187</span>
                                <span class="field-content intro"><a href="mailto:mwake@sturgisboatworks.com">E: mwake@sturgisboatworks.com</a></span>
                                <span class="field-content intro"><a href="http://www.sturgisboatworks.com" target="_blank">www.sturgisboatworks.com</a></span>
                            </div>
                        </div>
                        <div class="views-column views-column-2 views-column-last">
                            <div class="views-field views-field-field-image-tax">
                                <div class="field-content"></div>
                            </div>
                            <div class="views-field views-field-name">
                                <span class="field-content intro"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div style="clear: both"></div>
            <div class="view view-taxonomy-images view-id-taxonomy_images view-display-id-page view-dom-id-6dcd0468c98655feaeac76e076d30675">
                <div class="view-content">
                    <h2 class="page__title area">Oceania</h2>
                    <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-2">
                        <div class="views-row views-row-1 views-row-first views-row-last">

                            <div class="views-column views-column-1 views-column-first">
                                <div class="views-field views-field-field-image-tax">
                                    <div class="field-content">
                                        <a href="#">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/parts/flag/NewZealand.jpg"
                                                 width="120" height="80" alt="NewZealand" />
                                        </a>
                                    </div>
                                </div>
                                <div class="views-field views-field-name">
                                    <span class="field-content intro"><h3>SailOne</h3></span>
                                    <span class="field-content intro">Add: 29 Leighton St Grey Lynn, Auckland</span>
                                    <span class="field-content intro">Contact: Keith Elliott</span>
                                    <span class="field-content intro">T: 0800 724-5663</span>
                                    <span class="field-content intro"><a href="mailto:keith@sailone.co.nz">E: keith@sailone.co.nz</a></span>
                                    <span class="field-content intro"><a href="http://www.sailone.co.nz" target="_blank">www.sailone.co.nz</a></span>
                                </div>
                            </div>
                            <div class="views-column views-column-2 views-column-last">
                                <div class="views-field views-field-field-image-tax">
                                    <div class="field-content"></div>
                                </div>
                                <div class="views-field views-field-name">
                                    <span class="field-content intro"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div id="navigation">
      </div>

    </div>

    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-views-blog-posts-block" class="block block-views odd">

          <h2 class="block__title block-title">新闻...</h2>

          <div class="view view-blog-posts view-id-blog_posts view-display-id-block view-dom-id-44084f96e7251f47fb1d50d999733ce1">

            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                <div class="views-field views-field-field-photo-image">
                    <div class="field-content">
                        <a href="/zh-cn/news-list.html">
                            <img typeof="foaf:Image"
                                 src="http://47.91.86.81/sites/default/files/news.jpg" width="270" height="175" alt="2019 新年问候" />
                        </a>
                    </div>
                </div>
                <div class="views-field views-field-title">
                    <span class="field-content">
                        <a href="/zh-cn/news-list.html">2019 新年问候</a></span>  </div>  </div>
            </div>

          </div>
        </div>
          <div id="block-block-3" class="block block-block even">
              <h2 class="block__title block-title">联系我们</h2>
              <p>请通过电话 186 2193 5526 或者<a href="/zh-cn/contact-us.html">电子邮件</a> 联系我们，获取更多信息。</p>
          </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
    <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
        <ul class="menu">
            <li class="menu__item is-leaf first leaf"><a href="/zh-cn/about-us.html" class="menu__link">关于我们</a></li>
            <li class="menu__item is-leaf leaf"><a href="/zh-cn/parts.html" class="menu__link">配件</a></li>
            <li class="menu__item is-leaf last leaf"><a href="/zh-cn/contact-us.html" class="menu__link">联系我们</a></li>
        </ul>
    </div>
    <div id="block-block-1" class="block block-block last even">
        <div>© 2018-2019 简泊船舶</div>
        <div itemscope itemtype="">
            <span itemprop="name">简泊船舶</span>,
            <span itemprop="addressCountry">中国</span>,
            <span itemprop="addressRegion">上海市</span>,
            <span itemprop="addressLocality">闵行区</span>,
            <span itemprop="streetAddress">银春路1800弄19号201</span>
        </div>
    </div>
</div>

<script charset="utf-8" src="http://47.91.86.81/layui/layui.all.js"></script>
<script charset="utf-8" src="http://47.91.86.81/js/dealers.js"></script>
</body>
</html>