<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://47.91.86.81/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://47.91.86.81/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://47.91.86.81/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>配件 | 简泊船舶</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/css/parts.css" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-taxonomy page-taxonomy-parent page-taxonomy-parent- page-taxonomy-parent-11 section-clothing page-views" >
<p id="skip-link">
    <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
    <div class="header-inner">
        <a href="/" title="首页" rel="home" class="header__logo" id="logo"><img
            src="http://47.91.86.81/sites/default/files/ibi_logo_1.png" alt="首页"
            class="header__logo-image"/></a>
        <div class="header__region region region-header">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
                <div class="language"><a href="#">CH</a>&nbsp;|&nbsp;<a href="http://47.91.86.81/parts.html">EN</a></div>
                <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
                     class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                            type="button">
                        <i class="icon-reorder"></i>
                    </button>
                    <div class="nav-collapse collapse always-show">
                        <ul class="tb-megamenu-nav nav level-0 items-5">
                            <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/index.html" class="dropdown-toggle">
                                    首页 <span class="caret1"></span>
                                </a>
                            </li>
                            <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="#" class="dropdown-toggle">
                                    简泊船舶 <span class="caret"></span>
                                </a>
                                <div data-class="" data-width=""
                                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                                    <div class="mega-dropdown-inner">
                                        <div class="tb-megamenu-row row-fluid">
                                            <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                                                 id="tb-megamenu-column-1"
                                                 class="tb-megamenu-column span1  mega-col-nav">
                                                <div class="tb-megamenu-column-inner mega-inner clearfix">
                                                    <div data-type="block" data-block="views--menu_blocks-block"
                                                         class="tb-megamenu-block tb-block tb-megamenu-block">
                                                        <div class="block-inner">
                                                            <div id="block-views-menu-blocks-block"
                                                                 class="block block-views first odd">
                                                                <!--<h2 class="block__title block-title">产品</h2>-->
                                                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                                                    <div class="view-content">
                                                                        <div class="views-row views-row-1 views-row-odd views-row-first">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-racer.html">玻璃钢比赛OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-2 views-row-even">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-trainer.html">玻璃钢训练OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-3 views-row-odd">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/pe-polyethylene-opti.html">简泊滚塑OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-4 views-row-even views-row-last">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/parts.html">配件</a></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/news-list.html" class="dropdown-toggle">
                                    新闻资讯 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/dealers.html" class="dropdown-toggle">
                                    合作伙伴 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/about-us.html" class="dropdown-toggle">
                                    关于我们 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/contact-us.html" class="dropdown-toggle">
                                    联系我们 <span class="caret1"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div id="page">

  <div id="main">

    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">位置</h2><ol><li><a href="/">首页</a> › </li><li><a href="#" title="Boats">产品</a> › </li><li>配件</li></ol></nav>
          <a id="main-content"></a>
          <h1 class="page__title title" id="page-title">配件</h1>

          <div id="block-views-parts-products-block" class="view view-taxonomy-images view-id-taxonomy_images view-display-id-page view-dom-id-6dcd0468c98655feaeac76e076d30675">
            <div class="view-content">
              <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-3" style="padding:0 0 0 10px;">
                <div class="views-row views-row-1 views-row-first">

                  <div class="views-column views-column-1 views-column-first">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS302 Sleeve School Sail.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS302 Sleeve School Sail.jpg" width="190" height="114" alt="OPBS302 袖口训练帆" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS302 袖口训练帆</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-2">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS303 Eyelet School Sail.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS303 Eyelet School Sail.jpg"
                                     width="190" height="114" alt="OPBS303 绑带训练帆" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS303 绑带训练帆</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-3 views-column-last">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS401 GRP School Daggerboard.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS401 GRP School Daggerboard.jpg" width="190" height="114" alt="OPBS401 玻璃钢训练稳向板" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS401 玻璃钢训练稳向板</a></span>
                    </div>
                  </div>
                </div>

                <div class="views-row views-row-2">
                  <div class="views-column views-column-1 views-column-first">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS402 GRP School Rudder, Tiller& Tiller Extension.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS402 GRP School Rudder, Tiller& Tiller Extension.jpg" width="190" height="114" alt="OPBS402 GRP 玻璃钢训练舵Extension" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS402 GRP 玻璃钢训练舵Extension</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-2">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS405 Marine Plywood Daggerboard.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS405 Marine Plywood Daggerboard.jpg" width="190" height="114" alt="OPBS405 木质训练稳向板" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS405 木质训练稳向板</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-3 views-column-last">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS406 Marine Plywood Rudder, Tiller& Extention3.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS406 Marine Plywood Rudder, Tiller& Extention3.jpg" width="190" height="114" alt="OPBS406 木质训练舵 3" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS406 木质训练舵 3</a></span>
                    </div>
                  </div>
                </div>

                <div class="views-row views-row-3">
                  <div class="views-column views-column-1 views-column-first">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS409 Marine Plywood Kick Up Rudder, Tiller&Extention.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS409 Marine Plywood Kick Up Rudder, Tiller&Extention.jpg" width="190" height="114" alt="OPBS409 木质提拉舵叶" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS409 木质提拉舵叶</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-2">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS410 Tiller.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS410 Tiller.jpg" width="190" height="114" alt="OPBS410 主舵柄" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS410 主舵柄</a></span>
                    </div>
                  </div>
                  <div class="views-column views-column-3 views-column-last">
                    <div class="views-field views-field-field-image-tax">
                        <div class="field-content">
                            <a href="#">
                                <img typeof="foaf:Image"
                                     src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS411 Tiller Extention.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS411 Tiller Extention.jpg" width="190" height="114" alt="OPBS411副舵柄" />
                            </a>
                        </div>
                    </div>
                    <div class="views-field views-field-name">
                        <span class="field-content"><a href="#">OPBS411副舵柄</a></span>
                    </div>
                  </div>
                </div>

                  <div class="views-row views-row-4">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS412 Till&Extention.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS412 Till&Extention.jpg" width="190" height="114" alt="OPBS412 主副舵柄整套" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS412 主副舵柄整套</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS413 Pintles.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS413 Pintles.jpg" width="190" height="114" alt="OPBS413 舵针整套" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS413 舵针整套</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS415 Universal Joint.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS415 Universal Joint.jpg" width="190" height="114" alt="OPBS415 万向节" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS415 万向节</a></span>
                          </div>
                      </div>
                  </div>


                  <div class="views-row views-row-5">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS501 Blocks and Ropes package.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS501 Blocks and Ropes package.jpg" width="190" height="114" alt="OPBS501 训练滑轮绳子整套" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS501 训练滑轮绳子整套</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS502 30mm Sheave Block.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS502 30mm Sheave Block.jpg" width="190" height="114" alt="OPBS502 30mm训练主滑轮" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS502 30mm训练主滑轮</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS503 Standard Block.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS503 Standard Block.jpg" width="190" height="114" alt="OPBS503 训练次滑轮" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS503 训练次滑轮</a></span>
                          </div>
                      </div>
                  </div>

                  <div class="views-row views-row-6">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS504 Standard Block with Becket.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS504 Standard Block with Becket.jpg" width="190" height="114" alt="OPBS504训练横杆滑轮" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS504训练横杆滑轮</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS505 Plate shackle.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS505 Plate shackle.jpg" width="190" height="114" alt="OPBS505D型卸扣" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS505D型卸扣</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS506 Bow shacke.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS506 Bow shacke.jpg" width="190" height="114" alt="OPBS506 B弓型卸扣" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS506 B弓型卸扣</a></span>
                          </div>
                      </div>
                  </div>

                  <div class="views-row views-row-7">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS507 Swivel base plate.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS507 Swivel base plate.jpg" width="190" height="114" alt="OPBS507 可旋转主滑轮座" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS507 可旋转主滑轮座</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS510 Adjustable Mast Step.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS510 Adjustable Mast Step.jpg" width="190" height="114" alt="OPBS510 桅杆底座" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS510 桅杆底座</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS511 Rudder gudgeons.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS511 Rudder gudgeons.jpg" width="190" height="114" alt="OPBS511 舵夹" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS511 舵夹</a></span>
                          </div>
                      </div>
                  </div>


                  <div class="views-row views-row-8">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS601 Trolley with solid puncture proof wheel.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS601 Trolley with solid puncture proof wheel.jpg" width="190" height="114" alt="OPBS601可拆卸小车" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS601可拆卸小车</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS602 Puncture proof wheel 37cm.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS602 Puncture proof wheel 37cm.jpg" width="190" height="114" alt="OPBS602实心轮胎" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS602实心轮胎</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2 views-column-last">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS701 Rubber transom plug.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS701 Rubber transom plug.jpg" width="190" height="114" alt="OPBS701橡胶阻水塞" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS701橡胶阻水塞</a></span>
                          </div>
                      </div>
                  </div>

                  <div class="views-row views-row-9 views-row-last">
                      <div class="views-column views-column-1 views-column-first">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="#">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS703 Buoyancy bag,lock tube valve blue.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS703 Buoyancy bag,lock tube valve blue.jpg" width="190" height="114" alt="OPBS703 大容量气袋" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS703 大容量气袋</a></span>
                          </div>
                      </div>
                      <div class="views-column views-column-2">
                          <div class="views-field views-field-field-image-tax">
                              <div class="field-content">
                                  <a href="javascript:;">
                                      <img typeof="foaf:Image"
                                           src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS704 Hand Grip.jpg" layer-src="http://47.91.86.81/sites/default/files/parts/600x400/OPBS704 Hand Grip.jpg" width="190" height="114" alt="OPBS704 拖船把手" />
                                  </a>
                              </div>
                          </div>
                          <div class="views-field views-field-name">
                              <span class="field-content"><a href="#">OPBS704 拖船把手</a></span>
                          </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="navigation">
      </div>

    </div>

    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-views-blog-posts-block" class="block block-views odd">
            <h2 class="block__title block-title">新闻...</h2>
            <div class="view view-blog-posts view-id-blog_posts view-display-id-block view-dom-id-76e88c68cdb6da7a6c8c1cb7951e0653">
                <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                        <div class="views-field views-field-field-photo-image">
                            <div class="field-content">
                                <a href="/zh-cn/news-list.html" target="_blank">
                                    <img typeof="foaf:Image"
                                         src="http://47.91.86.81/sites/default/files/news.jpg"
                                         width="270" height="175" alt="2019新年问候"/>
                                </a>
                            </div>
                        </div>
                        <div class="views-field views-field-title">
                                    <span class="field-content">
                                        <a href="/zh-cn/news-list.html">
                                            2019新年问候
                                        </a>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div id="block-block-3" class="block block-block even">
              <h2 class="block__title block-title">联系我们</h2>
              <p>请通过电话 186 2193 5526 或者<a href="/zh-cn/contact-us.html">电子邮件</a> 联系我们，获取更多信息。</p>
          </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
    <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
        <ul class="menu">
            <li class="menu__item is-leaf first leaf"><a href="/zh-cn/about-us.html" class="menu__link">关于我们</a></li>
            <li class="menu__item is-active-trail active-trail is-leaf leaf"><a href="/zh-cn/parts.html" class="menu__link is-active-trail active-trail active">配件</a></li>
            <li class="menu__item is-leaf last leaf"><a href="/zh-cn/contact-us.html" class="menu__link">联系我们</a></li>
        </ul>
    </div>
    <div id="block-block-1" class="block block-block last even">
        <div>© 2018-2019 简泊船舶</div>
        <div itemscope itemtype="">
            <span itemprop="name">简泊船舶</span>,
            <span itemprop="addressCountry">中国</span>,
            <span itemprop="addressRegion">上海市</span>,
            <span itemprop="addressLocality">闵行区</span>,
            <span itemprop="streetAddress">银春路1800弄19号201</span>
        </div>
    </div>
</div>

<script charset="utf-8" src="http://47.91.86.81/layui/layui.all.js"></script>
<script charset="utf-8" src="http://47.91.86.81/js/parts.js"></script>
</body>
</html>