<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://47.91.86.81/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://47.91.86.81/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://47.91.86.81/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>简泊滚塑OP | 简泊船舶</title>
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__nK0VPh-CNQQFunEK_lCl1cut1GZ_ZUQXOOY0wPiQ4aU__C8jfzkpXEtdqNwCJhEZWnfrWeima0ebXQoGT4J_tupk__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://47.91.86.81/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://47.91.86.81/css/pe-polyethylene-opti.css" />
    <style>
        .view-homepage .views-field-body h1{ line-height: 2em; font-size: 2em;font-weight: bold;}
        .view-homepage .views-field-body p { font-size: 1.2em; line-height: 23px; margin: 0; }
    </style>
</head>
<body class="html front not-logged-in one-sidebar sidebar-second page-homepage page-views">
<p id="skip-link">
    <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
    <div class="header-inner">
        <a href="/" title="首页" rel="home" class="header__logo" id="logo"><img
            src="http://47.91.86.81/sites/default/files/ibi_logo_1.png" alt="首页"
            class="header__logo-image"/></a>
        <div class="header__region region region-header">
            <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
                <div class="language"><a href="#">CH</a>&nbsp;|&nbsp;<a href="http://47.91.86.81/pe-polyethylene-opti.html">EN</a></div>
                <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
                     class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                            type="button">
                        <i class="icon-reorder"></i>
                    </button>
                    <div class="nav-collapse collapse always-show">
                        <ul class="tb-megamenu-nav nav level-0 items-5">
                            <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/index.html" class="dropdown-toggle">
                                    首页 <span class="caret1"></span>
                                </a>
                            </li>
                            <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="#" class="dropdown-toggle">
                                    简泊船舶 <span class="caret"></span>
                                </a>
                                <div data-class="" data-width=""
                                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                                    <div class="mega-dropdown-inner">
                                        <div class="tb-megamenu-row row-fluid">
                                            <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                                                 id="tb-megamenu-column-1"
                                                 class="tb-megamenu-column span1  mega-col-nav">
                                                <div class="tb-megamenu-column-inner mega-inner clearfix">
                                                    <div data-type="block" data-block="views--menu_blocks-block"
                                                         class="tb-megamenu-block tb-block tb-megamenu-block">
                                                        <div class="block-inner">
                                                            <div id="block-views-menu-blocks-block"
                                                                 class="block block-views first odd">
                                                                <!--<h2 class="block__title block-title">产品</h2>-->
                                                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                                                    <div class="view-content">
                                                                        <div class="views-row views-row-1 views-row-odd views-row-first">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-racer.html">玻璃钢比赛OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-2 views-row-even">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/optimist-trainer.html">玻璃钢训练OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-3 views-row-odd">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/pe-polyethylene-opti.html">简泊滚塑OP</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-4 views-row-even views-row-last">
                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a href="/zh-cn/parts.html">配件</a></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/news-list.html" class="dropdown-toggle">
                                    新闻资讯 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/dealers.html" class="dropdown-toggle">
                                    合作伙伴 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/zh-cn/about-us.html" class="dropdown-toggle">
                                    关于我们 <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/zh-cn/contact-us.html" class="dropdown-toggle">
                                    联系我们 <span class="caret1"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div id="page">

    <div id="main">

        <div id="content" class="column" role="main">
            <div class="content-wrapper">
                <div id="content-inner">
                    <!--<nav class="breadcrumb" role="navigation"><h2 class="element-invisible">位置</h2><ol><li><a href="/">首页</a> › </li><li><a href="#" title="Boats">产品</a> › </li><li>简泊滚塑OP</li></ol></nav>-->
                    <a id="main-content"></a>
                    <h1 class="page__title title" id="page-title">简泊滚塑OP</h1>
                    <div class="view view-homepage view-id-homepage view-display-id-page view-dom-id-6f2cac949f64f36bb049843a0e7be506">
                        <div class="view-content">
                            <div id="flexslider-2" class="flexslider_2 layui-carousel">
                                <ul class="slides" carousel-item>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/1.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/2.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/3.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/4.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/5.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/6.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/7.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/8.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/9.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/10.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/11.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/12.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/13.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/690x428/14.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div id="intro-1" class="views-field views-field-body">
                                <div class="field-content">
                                    <h1>简泊滚塑OP</h1>
                                    <h2>简泊滚塑OP</h2>
                                    <p>
                                    <span style="font-size: medium;">
                                        碰撞，修补及维护是帆船在使用过程中必须要面对的问题<br/>
                                        1.俱乐部经营用船只，小朋友爱护意识不够。<br/>
                                        2.新入门的小朋友，对船只掌控力不佳，磕碰是家常便饭。<br/>
                                        3.有经验的选手，练习时，比赛中，与队友碰撞也在所难免。<br/>
                                        碰撞严重，则有可能完全损坏，无法修复！<br/>
                                        为了解决此问题，我们引进了欧洲盛行的滚塑工艺OP。<br/><br/>
                                        一．设计及材质<br/>
                                        德国著名船艇设计及建造团队 BLOK HONSEL TEAM 打造。采用三层高密度聚乙烯发泡材质。船只轻便坚固，不怕碰撞，船体抗紫外线，使用寿命远高于玻璃钢材质帆船。<br/><br/>
                                        二．特性<br/>
                                        1. 船头有收纳舱，可收纳手机、钥匙等随身物品。<br/>
                                        2. 穿中间有放置矿泉水瓶搁置孔。<br/>
                                        3.船中央，船尾均有泄水槽。<br/>
                                        4.整船泡沫发泡，保证船只即使倾覆，也可以漂浮在水面。保证航行安全。<br/>
                                        5. 船体材料抗紫外线；高密度聚乙烯材料，抗摔打、碰撞，将保养难度将为最低。<br/>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="block-views-homepage-products-block" class="block block-views even">
                        <div class="view view-homepage-products view-id-homepage_products view-display-id-block view-dom-id-9b7599185229c8a2c2150ea8abbca8ed">

                            <div class="view-content">
                                <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-3">
                                    <div class="views-row views-row-1 views-row-first">
                                        <div class="views-column views-column-1 views-column-first">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/1.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/1.jpg" width="220" height="220" alt="1"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-2">
                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/2.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/2.jpg" width="220" height="220" alt="2"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-3 views-column-last">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/3.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/3.jpg" width="220" height="220" alt="3"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-last">
                                        <div class="views-column views-column-1 views-column-first">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/5.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/5.jpg" width="220" height="220" alt="5"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-2">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/4.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/4.jpg" width="220" height="220" alt="4"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-3 views-column-last">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/225x225/6.jpg" layer-src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/600x600/6.jpg" width="220" height="220" alt="6"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div id="block-block-11" class="block block-block odd">
                        <h2 class="block__title block-title">缤纷色彩</h2>
                        <!--<p>
                            <a href="http://47.91.86.81/neil-pryde">
                                <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/6color.jpg" alt="Neil Pryde" width="685" height="171"/>
                            </a>
                        </p>-->
                        <div class="layui-fluid">
                            <div class="layui-row">
                                <div class="layui-col-sm2">
                                    <div class="grid-demo grid-demo-bg1">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/yellow.jpg" alt="yellow" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            柠檬黄
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <div class="grid-demo">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/orange.jpg" alt="orange" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            暖橙
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <div class="grid-demo grid-demo-bg1">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/red.jpg" alt="red" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            亮红
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <div class="grid-demo">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/blue.jpg" alt="blue" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            星空蓝
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <div class="grid-demo">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/green.jpg" alt="green" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            青草绿
                                        </span>
                                    </div>
                                </div>
                                <div class="layui-col-sm2">
                                    <div class="grid-demo">
                                        <a href="http://47.91.86.81/#">
                                            <img src="http://47.91.86.81/sites/default/files/pe-polyethylene-opti/110x170/white.jpg" alt="white" width="110" height="170"/>
                                        </a>
                                        <span class="grid-info">
                                            乳白
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="navigation">
            </div>
        </div>

        <aside class="sidebars">
            <section class="region region-sidebar-second column sidebar">
                <div id="block-bean-boat-repair" class="block block-bean first odd">
                    <h2 class="block__title block-title">配件</h2>
                    <div class="entity entity-bean bean-homepage-block clearfix" about="parts" typeof="">
                        <div class="content">
                            <div class="field field-name-field-image-block field-type-image field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS302 Sleeve School Sail.jpg"
                                                 width="120" alt="OPBS302 Sleeve School Sail" title="OPBS302 Sleeve School Sail"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS303 Eyelet School Sail.jpg"
                                                 width="120" alt="OPBS303 Eyelet School Sail" title="OPBS303 Eyelet School Sail"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS401 GRP School Daggerboard.jpg"
                                                 width="120" alt="OPBS401 GRP School Daggerboard" title="OPBS401 GRP School Daggerboard"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/parts/190x120/OPBS402 GRP School Rudder, Tiller& Tiller Extension.jpg"
                                                 width="120" alt="OPBS402 GRP School Rudder, Tiller& Tiller Extension" title="OPBS402 GRP School Rudder, Tiller& Tiller Extension"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="block-views-blog-posts-block" class="block block-views even">
                    <h2 class="block__title block-title">新闻...</h2>
                    <div class="view view-blog-posts view-id-blog_posts view-display-id-block view-dom-id-76e88c68cdb6da7a6c8c1cb7951e0653">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                <div class="views-field views-field-field-photo-image">
                                    <div class="field-content">
                                        <a href="/zh-cn/news-list.html" target="_blank">
                                            <img typeof="foaf:Image"
                                                 src="http://47.91.86.81/sites/default/files/news.jpg"
                                                 width="270" height="175" alt="2019新年问候"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="views-field views-field-title">
                                    <span class="field-content">
                                        <a href="/zh-cn/news-list.html">
                                            2019新年问候
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="block-views-table-block" class="block block-views last even">
                    <div class="table">
                        <div class="table-column-group">
                            <div class="table-column table-column1"></div>
                            <div class="table-column"></div>
                        </div>
                        <div class="table-header-group" style="display: none;">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">规格</li>
                                <li class="table-cell">数据</li>
                            </ul>
                        </div>
                        <div class="table-row-group">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">规格</li>
                                <li class="table-cell">简泊滚塑OP</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">船长</li>
                                <li class="table-cell">2.39米</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">船宽</li>
                                <li class="table-cell">1.21米</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">船体重量</li>
                                <li class="table-cell">39公斤</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">帆面积</li>
                                <li class="table-cell">3.3平方米</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">材质</li>
                                <li class="table-cell">三层滚塑发泡</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">载荷</li>
                                <li class="table-cell">1-2人</li>
                            </ul>
                        </div>
                        <div class="table-footer-group">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">footer</li>
                                <li class="table-cell">footer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</div>

<div class="region region-bottom">
    <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
        <ul class="menu">
            <li class="menu__item is-leaf first leaf"><a href="/zh-cn/about-us.html" class="menu__link">关于我们</a></li>
            <li class="menu__item is-leaf leaf"><a href="/zh-cn/parts.html" class="menu__link">配件</a></li>
            <li class="menu__item is-leaf last leaf"><a href="/zh-cn/contact-us.html" class="menu__link">联系我们</a></li>
        </ul>
    </div>
    <div id="block-block-1" class="block block-block last even">
        <div>© 2018-2019 简泊船舶</div>
        <div itemscope itemtype="">
            <span itemprop="name">简泊船舶</span>,
            <span itemprop="addressCountry">中国</span>,
            <span itemprop="addressRegion">上海市</span>,
            <span itemprop="addressLocality">闵行区</span>,
            <span itemprop="streetAddress">银春路1800弄19号201</span>
        </div>
    </div>
</div>

<script charset="utf-8" src="http://47.91.86.81/layui/layui.all.js"></script>
<script charset="utf-8" src="http://47.91.86.81/js/pe-polyethylene-opti.js"></script>
</body>
</html>