body{
    background-color:#FFFFFF !important;
    background-image:url('../sites/default/files/backgroundimage-dealers.jpg') !important;
    background-repeat:no-repeat !important;
    background-attachment:fixed !important;
    background-position:center bottom !important;
    background-size:cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../sites/default/files/backgroundimage-dealers.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../sites/default/files/backgroundimage-dealers.jpg', sizingMethod='scale')";
}
#block-tb-megamenu-main-menu{top:2em;}
#block-tb-megamenu-main-menu .language{text-align: right;line-height: 2em; height: 2em;}
.tb-megamenu.animate .mega > .mega-dropdown-menu, .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    -ms-transition-duration: 400ms;
    -o-transition-duration: 400ms;
}
.tb-megamenu .dropdown-menu{ min-width:140px; }
.tb-megamenu .mega > .mega-dropdown-menu{ min-width:140px; }
.tb-megamenu .block{margin-bottom:0px}
.front #page{min-height:1500px;}
/*.front .view-homepage{background-color: rgba(240,240,240,0); }*/
.front .region-bottom{display: block;}
.tb-megamenu { background-color: #58585A;  }
.tb-megamenu .nav>li>a { border-right: 1px solid #D2D3D5; }
.view-homepage .views-field-body{ background-color: #818286; }
.view-homepage .views-field-body p { text-transform: none; }
.tb-megamenu-nav li.level-1:nth-child(4) a.dropdown-toggle { background-color: #ffffff; }
.tb-megamenu-nav li.level-1:nth-child(4) a.dropdown-toggle:hover,
.tb-megamenu-nav li.level-1:nth-child(4) a.dropdown-toggle:focus,
.tb-megamenu-nav li.level-1.open:nth-child(4) a.dropdown-toggle,
.tb-megamenu-nav li.level-1:nth-child(4) a.dropdown-toggle { background-color: #D2D3D5 !important; color: #000000 !important; }
.tb-megamenu .dropdown-menu a { white-space: nowrap; }
.tb-megamenu .tb-megamenu-item .tb-megamenu-column{width:100%;}
.tb-megamenu .tb-megamenu-item .row-fluid .span1{width:100%;}
#block-views-homepage-products-block .views-field-uc-product-image{line-height: 0px;}
#block-views-homepage-products-block .views-field-uc-product-image .field-content{line-height: 0px;}
#block-views-table-block {background-color: white;padding:0; margin-top: 520px;}
#block-views-table-block ul{margin:0;padding:0;list-style:none;}
#block-views-table-block .table{display:table;border-collapse:collapse;border:1px solid #8C8D8F;}
#block-views-table-block .table-caption{display:table-caption;margin:0;padding:0;font-size:16px;}
#block-views-table-block .table-column-group{display:table-column-group;}
#block-views-table-block .table-column{display:table-column;}
#block-views-table-block .table-column1{display:table-column;width:41%;}
#block-views-table-block .table-row-group{display:table-row-group;}
#block-views-table-block .table-row{display:table-row;}
#block-views-table-block .table-row-group .table-row:hover,.table-footer-group .table-row:hover{background:#f6f6f6;}
#block-views-table-block .table-cell{display:table-cell;padding:0 5px;border:1px solid #8C8D8F;color:#818284;}
#block-views-table-block .table-cell1{width:41%;}
#block-views-table-block .table-header-group{display:table-header-group;background:#eee;font-weight:bold;}
#block-views-table-block .table-footer-group{display:table-footer-group;}
#block-block-1{margin: 10px auto;color:#fff;}
#block-block-11{width: 100%;}
#block-block-11 p{margin:0;}
#block-block-11 .block-title{background-color: #818286; padding: 0 0 0 15px;}
#page-title{
    background: rgba(240,240,240,0.8); padding:0.5em 0 0.5em 0.5em; color:#000; margin:0;
}
.area{
    background: rgba(240,240,240,0.8); margin:0.6em 0 0.6em; padding: 0.5em 1.1em; width: 150px; color: #000;
}
.view-taxonomy-images .views-column{
    width:50%; height: 230px; margin-right:0; margin-bottom:0;
}
.views-column .views-field{
    text-align: left; padding:0.5em 0.5em 0.5em 1.5em;
}
.views-column .views-field .intro{
    display: block; color:#000; font-size:100%; word-wrap: break-word; word-break: break-all;
}
.views-column .views-field .intro a{
    color:#000; font-size:100%;
}
.view-taxonomy-term .views-row, .view-taxonomy-images .views-column, #block-views-homepage-products-block .views-column, .view-search-results .views-row, .view-you-might-also-be-interested-in .views-row{
    background: rgba(240,240,240,0.8);
}
.not-front #content .content-wrapper{
    background: rgba(240,240,240,0); box-shadow: none;
}
#content-inner{
    margin: 0;
}
.views-column .views-field .intro h3 {
    line-height: 1em; margin: 0; font-weight: bold;
}
.tb-megamenu .nav-collapse{height: 0px; overflow: hidden;}

@media screen and (min-width:321px) and (max-width:375px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #page-title{padding: 10px 0 10px 10px;}
    .area{ margin: 10px 0 10px; padding: 5px 0 5px 10px;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .view-taxonomy-images .views-column{width: auto;height: 290px;}
    .views-column .views-field{padding: 10px 5px 5px 10px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:376px) and (max-width:414px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #page-title{padding: 10px 0 10px 10px;}
    .area{ margin: 10px 0 10px; padding: 5px 0 5px 10px;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .view-taxonomy-images .views-column{width: auto;height: 290px;}
    .views-column .views-field{padding: 10px 5px 5px 10px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:415px) and (max-width:639px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:640px) and (max-width:719px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:720px) and (max-width:749px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:750px) and (max-width:799px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:800px) and (max-width:979px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}