body {
    background-color: #FFFFFF !important;
    background-image: url('http://47.91.86.81/sites/default/files/backgroundimage-racer.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center bottom !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://47.91.86.81/sites/default/files/backgroundimage-racer.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://47.91.86.81/sites/default/files/backgroundimage-racer.jpg', sizingMethod='scale')";
}
#block-tb-megamenu-main-menu{top:2em;}
#block-tb-megamenu-main-menu .language{text-align: right;line-height: 2em; height: 2em;}
.tb-megamenu.animate .mega > .mega-dropdown-menu, .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    -ms-transition-duration: 400ms;
    -o-transition-duration: 400ms;
}
.tb-megamenu .dropdown-menu{ min-width:140px; }
.tb-megamenu .mega > .mega-dropdown-menu{ min-width:140px; }
.tb-megamenu .block{margin-bottom:0px}
.front #page{min-height:1500px;}
/*.front .view-homepage{background-color: rgba(240,240,240,0); }*/
.front .region-bottom{display: block;}
.tb-megamenu { background-color: #58585A;  }
.tb-megamenu .nav>li>a { border-right: 1px solid #D2D3D5; }
.view-homepage .views-field-body{ background-color: #818286; }
.view-homepage .views-field-body p { text-transform: none; }
.tb-megamenu-nav li.level-1:nth-child(2) a.dropdown-toggle { background-color: #ffffff; }
.tb-megamenu-nav li.level-1:nth-child(2) a.dropdown-toggle:hover,
.tb-megamenu-nav li.level-1:nth-child(2) a.dropdown-toggle:focus,
.tb-megamenu-nav li.level-1.open:nth-child(2) a.dropdown-toggle,
.tb-megamenu-nav li.level-1:nth-child(2) a.dropdown-toggle { background-color: #D2D3D5 !important; color: #000000 !important; }
.tb-megamenu .dropdown-menu a { white-space: nowrap; }
.tb-megamenu .tb-megamenu-item .tb-megamenu-column{width:100%;}
.tb-megamenu .tb-megamenu-item .row-fluid .span1{width:100%;}
#block-views-homepage-products-block .views-field-uc-product-image{line-height: 0px;}
#block-views-homepage-products-block .views-field-uc-product-image .field-content{line-height: 0px;}
#block-views-table-block {background-color: white;padding:0; margin-top: 320px;}
#block-views-table-block ul{margin:0;padding:0;list-style:none;}
#block-views-table-block .table{width: 100%;display:table;border-collapse:collapse;border:1px solid #8C8D8F;}
#block-views-table-block .table-caption{display:table-caption;margin:0;padding:0;font-size:16px;}
#block-views-table-block .table-column-group{display:table-column-group;}
#block-views-table-block .table-column{display:table-column;}
#block-views-table-block .table-column1{display:table-column;width:50%;}
#block-views-table-block .table-row-group{display:table-row-group;}
#block-views-table-block .table-row{display:table-row;}
#block-views-table-block .table-row-group .table-row:hover,.table-footer-group .table-row:hover{background:#f6f6f6;}
#block-views-table-block .table-cell{display:table-cell;padding:0 5px;border:1px solid #8C8D8F;color:#818284;}
#block-views-table-block .table-cell1{width: 50%;background-color: #818286;color: #fff;font-weight: bold;line-height: 25px;}
#block-views-table-block .table-header-group{display:table-header-group;background:#eee;font-weight:bold;}
#block-views-table-block .table-footer-group{display:table-footer-group;display:none;}
#block-block-1{margin: 10px auto;color:#fff;}
#block-block-11{width: 100%;}
#block-block-11 p{margin:0;}
#block-block-11 .block-title{background-color: #818286; padding: 0 0 0 15px;}
#block-bean-boat-repair{ padding:0px 0 0; }
#block-bean-boat-repair .block-title{/*background-color: #818286;*/ padding: 0 0 0 15px;}
#block-bean-boat-repair .field-item{max-width: 120px;float: left;margin-right: 1px;margin-left: 1px;margin-top: 1px;margin-bottom: 1px;line-height: 0px;}

.layui-carousel-arrow[lay-type=sub]{
    background: url(http://47.91.86.81/sites/all/themes/racingdinghies/images/left-arrow.png) no-repeat;
    width: 22px !important;
    height: 72px !important;
}
.layui-carousel-arrow[lay-type=add]{
    background: url(http://47.91.86.81/sites/all/themes/racingdinghies/images/right-arrow.png) no-repeat;
    width: 22px !important;
    height: 72px !important;
}
.layui-carousel-ind ul{ background-color: rgba(0,0,0,0); border-radius: 0px;}

#video-view{overflow: hidden; height: 135px;}
li.layui-col-md4{width: 230px;}
li.layui-col-md4 a{outline-style:none; -moz-outline-style: none;}
li.layui-col-md4 a:focus{outline-style:none; -moz-outline-style: none;}
#intro-1 .but_left{opacity: 0;width: 22px;height: 72px;position: absolute;bottom: 30px;left: 0px;display: inline-block;-webkit-transition-duration: .3s; transition-duration: .3s;cursor: pointer;}
#intro-1 .but_right{opacity: 0;width: 22px; height: 72px;position: absolute;bottom: 30px;right: 0px;display: inline-block;-webkit-transition-duration: .3s; transition-duration: .3s;cursor: pointer;}
#flexslider-2{height:426px;}
.front #content{top:40px;}
.front .sidebars .sidebar{top:43px;}
.front .view-homepage {background-color: rgba(0,0,0,0);}
.tb-megamenu .nav-collapse{height: 0px; overflow: hidden;}

@media (max-width:979px) {
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
}

@media screen and (min-width:321px) and (max-width:375px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 2060px;}
    .front .sidebars .sidebar{position: absolute !important;top: 1290px !important;}
    .front .region-bottom{height: 220px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;margin-bottom: 0px;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:226px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 1px;max-width: 175px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:12px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 125px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    #block-views-homepage-products-block .views-column{width:117px;float: left;margin: 0 2px 4px 2px;padding-bottom:0px;}
    .block {margin-bottom: 10px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:376px) and (max-width:414px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 2000px;}
    .front .sidebars .sidebar{position: absolute !important;top: 1190px !important;}
    .front .region-bottom{height: 275px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;margin-bottom: 0px;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    #block-views-homepage-products-block .views-column{width:130px;float: left;margin: 0 2px 4px 2px;padding-bottom:0px;}
    .block {margin-bottom: 10px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:415px) and (max-width:639px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 4272px;}
    .front .sidebars .sidebar{position: absolute !important;top: 3460px !important;}
    .front .region-bottom{height: 340px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:640px) and (max-width:719px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 4272px;}
    .front .sidebars .sidebar{position: absolute !important;top: 3460px !important;}
    .front .region-bottom{height: 340px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:720px) and (max-width:749px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 4272px;}
    .front .sidebars .sidebar{position: absolute !important;top: 3460px !important;}
    .front .region-bottom{height: 340px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:750px) and (max-width:799px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 4272px;}
    .front .sidebars .sidebar{position: absolute !important;top: 3460px !important;}
    .front .region-bottom{height: 340px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:800px) and (max-width:979px){
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    .front #page{min-height: 4272px;}
    .front .sidebars .sidebar{position: absolute !important;top: 3460px !important;}
    .front .region-bottom{height: 340px;}
    .view-homepage {height: auto;}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
    #block-views-blog-posts-block img {width: 100%;}
    #block-block-1{height:170px;}
    #flexslider-2{height:251px; margin:10px 0 10px;}
    #block-bean-boat-repair .field-item{margin-left: 4px;max-width: 190px;}
    #index-video{width: 100%;min-height:230px;}
    #intro-1 .but_left,#intro-1 .but_right{width:15px;height:auto;bottom: 20px;}
    #intro-1 li.layui-col-md4{width: 138px; float: left;}
    #video-view{height: auto;}
    #block-views-table-block{margin-top:0px;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}