body{
    background-color:#FFFFFF !important;
    background-image: url('http://47.91.86.81/sites/default/files/backgroundimage-contact.jpg') !important;
    background-repeat:no-repeat !important;
    background-attachment:fixed !important;
    background-position:center bottom !important;
    background-size:cover !important;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-background-size:cover !important;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://47.91.86.81/sites/default/files/backgroundimage-contact.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://47.91.86.81/sites/default/files/backgroundimage-contact.jpg', sizingMethod='scale')";
}
#block-tb-megamenu-main-menu{top:2em;}
#block-tb-megamenu-main-menu .language{text-align: right;line-height: 2em; height: 2em;}
.tb-megamenu.animate .mega > .mega-dropdown-menu, .tb-megamenu.animate.slide .mega > .mega-dropdown-menu > div {
    transition-delay: 200ms;
    -webkit-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    -ms-transition-duration: 400ms;
    -o-transition-duration: 400ms;
}
.tb-megamenu .dropdown-menu{ min-width:140px; }
.tb-megamenu .mega > .mega-dropdown-menu{ min-width:140px; }
.tb-megamenu .block{margin-bottom:0px}
.front .region-bottom{display: block;}
.tb-megamenu { background-color: #58585A;  }
.tb-megamenu .nav>li>a { border-right: 1px solid #D2D3D5; }
.view-homepage .views-field-body{ background-color: #818286; }
.view-homepage .views-field-body p { text-transform: none; }
.tb-megamenu-nav li.level-1:nth-child(6) a.dropdown-toggle { background-color: #ffffff; }
.tb-megamenu-nav li.level-1:nth-child(6) a.dropdown-toggle:hover,
.tb-megamenu-nav li.level-1:nth-child(6) a.dropdown-toggle:focus,
.tb-megamenu-nav li.level-1.open:nth-child(6) a.dropdown-toggle,
.tb-megamenu-nav li.level-1:nth-child(6) a.dropdown-toggle { background-color: #D2D3D5 !important; color: #000000 !important; }
.views-field-uc-product-image{line-height: normal;}
.tb-megamenu .dropdown-menu a { white-space: nowrap; }
.tb-megamenu .tb-megamenu-item .tb-megamenu-column{width:100%;}
.tb-megamenu .tb-megamenu-item .row-fluid .span1{width:100%;}
#block-block-1{margin: 10px auto;color:#fff;}
#dituContent{width:640px;height:300px;border:#ccc solid 1px;}
.tb-megamenu .nav-collapse{height: 0px; overflow: hidden;}

@media (max-width:979px) {
    .tb-megamenu {background-color: rgba(0,0,0,0);}
    #block-tb-megamenu-main-menu{top:0em;}
    #content{width:100%;}
}

@media screen and (min-width:321px) and (max-width:375px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:376px) and (max-width:414px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:415px) and (max-width:639px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:640px) and (max-width:719px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:720px) and (max-width:749px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:750px) and (max-width:799px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}
@media screen and (min-width:800px) and (max-width:979px){
    #dituContent{width:auto;}
    .tb-megamenu .nav-collapse.close { height: 0px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s; }
    .tb-megamenu .nav-collapse.open { height: 360px; overflow: hidden; -webkit-transition: height 2s; transition: height 2s;}
}