<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://www.oneplusboat.com/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.oneplusboat.com/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://www.oneplusboat.com/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>Contact Us | Oneplus Boat</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__2JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />
    <!--<link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__gyy3ixcHLsZHq7oR_EIdA_jAeCNBQeYsOGqLAMUguy0__3bKo0Z0e3yDbxokR8T55BwP2pspy521C1iXZbSQMSK8__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />-->
    <link type="text/css" rel="stylesheet"
          href="http://www.oneplusboat.com/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://www.oneplusboat.com/css/contact-us.css" />
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-2691 node-type-webform section-contact-us">
<p id="skip-link">
  <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
  <div class="header-inner">
    <a href="/" title="Home" rel="home" class="header__logo" id="logo"><img
        src="http://www.oneplusboat.com/sites/default/files/ibi_logo_0.png" alt="Home"
        class="header__logo-image"/></a>
    <div class="header__region region region-header">
      <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
        <div class="language"><a href="http://www.oneplusboat.com/zh-cn/contact-us.html">CH</a>&nbsp;|&nbsp;<a href="#">EN</a></div>
        <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
             class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                  type="button">
            <i class="icon-reorder"></i>
          </button>
          <div class="nav-collapse collapse always-show">
            <ul class="tb-megamenu-nav nav level-0 items-5">
              <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/index.html" class="dropdown-toggle">
                  Home <span class="caret1"></span>
                </a>
              </li>
              <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="#" class="dropdown-toggle">
                  Boats <span class="caret"></span>
                </a>
                <div data-class="" data-width=""
                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                  <div class="mega-dropdown-inner">
                    <div class="tb-megamenu-row row-fluid">
                      <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                           id="tb-megamenu-column-1"
                           class="tb-megamenu-column span1  mega-col-nav">
                        <div class="tb-megamenu-column-inner mega-inner clearfix">
                          <div data-type="block" data-block="views--menu_blocks-block"
                               class="tb-megamenu-block tb-block tb-megamenu-block">
                            <div class="block-inner">
                              <div id="block-views-menu-blocks-block"
                                   class="block block-views first odd">
                                <!--<h2 class="block__title block-title">Boats</h2>-->
                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                  <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-racer.html">OnePlus Optimist Racer</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-trainer.html">OnePlus Optimist Trainer</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/pe-polyethylene-opti.html">OnePlus PE-Polyethylene Opti</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-4 views-row-even views-row-last">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/parts.html">Parts</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/news-list.html" class="dropdown-toggle">
                  News <span class="caret1"></span>
                </a>
              </li>

              <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/dealers.html" class="dropdown-toggle">
                  Dealers <span class="caret1"></span>
                </a>
              </li>

              <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/about-us.html" class="dropdown-toggle">
                  About Us <span class="caret1"></span>
                </a>
              </li>

              <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/contact-us.html" class="dropdown-toggle">
                  Contact Us<span class="caret1"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div id="page">
  <div id="main">
    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">You are here</h2><ol><li><a href="/">Home</a> › </li><li>Contact Us</li></ol></nav>
          <a id="main-content"></a>
          <h1 class="page__title title" id="page-title">Contact Us</h1>
          <article class="node-2691 node node-webform node-promoted view-mode-full clearfix" about="/contact-us" typeof="sioc:Item foaf:Document">
            <header>
              <span property="dc:title" content="Contact Us" class="rdf-meta element-hidden"></span>
            </header>
            <form class="layui-form webform-client-form" enctype="multipart/form-data" method="post" id="webform-client-form-2691" accept-charset="UTF-8">
              <div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-name">
                  <label for="edit-submitted-name">Name <span class="form-required" title="This field is required.">*</span></label>
                  <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text" required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-email webform-container-inline" id="webform-component-email">
                  <label for="edit-submitted-email">Email <span class="form-required" title="This field is required.">*</span></label>
                  <input class="email form-text form-email" type="email" id="edit-submitted-email" name="submitted[email]" size="60" required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-telephone">
                  <label for="edit-submitted-telephone">Telephone <span class="form-required" title="This field is required.">*</span></label>
                  <input type="text" id="edit-submitted-telephone" name="submitted[telephone]" value="" size="60" maxlength="128" class="form-text"  required lay-verify="required" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-subject">
                  <label for="edit-submitted-subject">Subject </label>
                  <input type="text" id="edit-submitted-subject" name="submitted[subject]" value="" size="60" maxlength="128" class="form-text" />
                </div>
                <div class="layui-form-item form-item webform-component webform-component-textarea" id="webform-component-message">
                  <label for="edit-submitted-message">Message <span class="form-required" title="This field is required.">*</span></label>
                  <div class="form-textarea-wrapper resizable">
                    <textarea id="edit-submitted-message" name="submitted[message]" cols="60" rows="5" class="form-textarea" required lay-verify="required" ></textarea>
                  </div>
                </div>
                <div class="layui-form-item form-actions form-wrapper" id="edit-actions">
                  <input type="button" id="edit-submit" name="op" value="Submit" class="form-submit" lay-submit lay-filter="edit-submit" />
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
      <div class="region region-content-bottom">
        <div id="block-block-5" class="block block-block first last odd">
          <h2 class="block__title block-title">Find Us</h2>
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80680.31941253952!2d-0.792048021155146!3d50.807821669898026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487453cdb2bc9519%3A0x23f75c6a06cdc62b!2sChichester%2C+West+Sussex+PO20+7BT!5e0!3m2!1sen!2suk!4v1421165776069" width="100%" height="300" frameborder="0" style="border:0"></iframe>-->
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.9750315151596!2d121.39165381457006!3d31.026945281535586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b289a9e4b98661%3A0x902c4588aba64231!2z5Lit5Zu95LiK5rW35biC6Ze16KGM5Yy66ZO25pil6Lev!5e0!3m2!1szh-CN!2s!4v1545707629081" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.9602183922193!2d121.3928143145702!3d31.027357981535495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b289aa0fdccbc3%3A0x10e2b45886cfe67b!2z5Lit5Zu95LiK5rW35biC6Ze16KGM5Yy66ZO25pil6LevMTgwMOWPtw!5e0!3m2!1szh-CN!2sus!4v1545708402610" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div id="navigation">
      </div>
    </div>
    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-block-4" class="block block-block odd">
          <h2 class="block__title block-title">Contact Us</h2>
          <div itemscope="" itemtype="http://schema.org/PostalAddress">
            <p>Our Office is in :
              <span itemprop="name"><strong>Oneplus Boat</strong></span><br />
              <span itemprop="streetAddress">Room 201 <br />Building #19,<br />Yinchun Rd No.1800</span><br />
              <span itemprop="addressLocality">Minhang District</span>,<br />
              <span itemprop="addressRegion">Shanghai</span><br />
              <!--<span itemprop="postalCode">PO20 7BE</span><br />-->
              <span itemprop="addressCountry">China</span>
            </p>
          </div>
          <p>
            Ellen Jiao<br />
            Email: ellen.jiao@liusgear.com<br />
            Mobile: 0086 186 2193 5526<br />
          </p>
        </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
  <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
    <ul class="menu">
      <li class="menu__item is-leaf first leaf"><a href="/about-us.html" class="menu__link">About Us</a></li>
      <li class="menu__item is-leaf leaf"><a href="/optimist-racer.html" class="menu__link">Boats</a></li>
      <li class="menu__item is-active-trail is-leaf last leaf active-trail "><a href="/contact-us.html" class="menu__link is-active-trail active-trail active">Contact Us</a></li>
    </ul>
  </div>
  <div id="block-block-1" class="block block-block last even">
    <div>© 2018-2019 OnePlus Boat</div>
    <div itemscope itemtype="">
      <span itemprop="name">OnePlus Boat</span>,
      <span itemprop="streetAddress">Room 201 Building #19,Yinchun Rd No.1800</span>,
      <span itemprop="addressLocality">Minhang District</span>,
      <span itemprop="addressRegion">Shanghai</span>,
      <span itemprop="addressCountry">China</span>
    </div>
  </div>
</div>

<script charset="utf-8" src="http://www.oneplusboat.com/layui/layui.all.js"></script>
<script charset="utf-8" src="http://www.oneplusboat.com/js/contact-us.js"></script>
</body>
</html>