<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <!--[if IE]><![endif]-->
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="http://47.91.86.81/favicon.ico" type="image/vnd.microsoft.icon"/>
  <meta name="description"
        content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
  <meta name="keywords"
        content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
  <meta property="og:site_name" content="Oneplus Boat"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://47.91.86.81/"/>
  <meta property="og:title" content="Oneplus Boat"/>
  <meta itemprop="name" content="Oneplus Boat"/>
  <meta name="dcterms.title" content="Oneplus Boat"/>
  <meta name="dcterms.type" content="Text"/>
  <meta name="dcterms.identifier" content="http://47.91.86.81/"/>
  <meta name="dcterms.format" content="text/html"/>
  <title>News Lists | Oneplus Boat</title>
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="cleartype" content="on">

  <link type="text/css" rel="stylesheet"
        href="http://47.91.86.81/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css"
        media="all"/>
  <link type="text/css" rel="stylesheet"
        href="http://47.91.86.81/sites/default/files/advagg_css/css__2JFcGrVNVXCCn0UmIUA0QXY3EAmR6m4oxr6vlGE9gHVA__v4GvurslvfaXnPazREL1bkLdAqRtTQGOOoCaUfZF1nM__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css"
        media="all"/>
  <!--<link type="text/css" rel="stylesheet" href="http://47.91.86.81/sites/default/files/advagg_css/css__xCMBKxF-C_mE_dpd_j9UYKI59ky0uUayaFu7K8U31pg__sidhaJWEBGc6-bE2PQZ51Xa133FWEEZxVh4h4upy8nY__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all" />-->
  <link type="text/css" rel="stylesheet"
        href="http://47.91.86.81/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css"
        media="all"/>
  <link type="text/css" rel="stylesheet" href="http://47.91.86.81/layui/css/layui.css" media="all"/>
  <link type="text/css" rel="stylesheet" href="http://47.91.86.81/css/news-list.css"/>
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-blog section-blog">
<p id="skip-link">
  <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
  <div class="header-inner">
    <a href="/" title="Home" rel="home" class="header__logo" id="logo"><img
        src="http://47.91.86.81/sites/default/files/ibi_logo_0.png" alt="Home"
        class="header__logo-image"/></a>
    <div class="header__region region region-header">
      <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
        <div class="language"><a href="http://47.91.86.81/zh-cn/news-list.html">CH</a>&nbsp;|&nbsp;<a href="#">EN</a></div>
        <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
             class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                  type="button">
            <i class="icon-reorder"></i>
          </button>
          <div class="nav-collapse collapse always-show">
            <ul class="tb-megamenu-nav nav level-0 items-5">
              <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/index.html" class="dropdown-toggle">
                  Home <span class="caret1"></span>
                </a>
              </li>
              <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="#" class="dropdown-toggle">
                  Boats <span class="caret"></span>
                </a>
                <div data-class="" data-width=""
                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                  <div class="mega-dropdown-inner">
                    <div class="tb-megamenu-row row-fluid">
                      <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                           id="tb-megamenu-column-1"
                           class="tb-megamenu-column span1  mega-col-nav">
                        <div class="tb-megamenu-column-inner mega-inner clearfix">
                          <div data-type="block" data-block="views--menu_blocks-block"
                               class="tb-megamenu-block tb-block tb-megamenu-block">
                            <div class="block-inner">
                              <div id="block-views-menu-blocks-block"
                                   class="block block-views first odd">
                                <!--<h2 class="block__title block-title">Boats</h2>-->
                                <div
                                    class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                  <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-racer.html">OnePlus Optimist Racer</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-even">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-trainer.html">OnePlus Optimist Trainer</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-3 views-row-odd">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/pe-polyethylene-opti.html">OnePlus PE-Polyethylene Opti</a></span>
                                      </div>
                                    </div>
                                    <div class="views-row views-row-4 views-row-even views-row-last">

                                      <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/parts.html">Parts</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/news-list.html" class="dropdown-toggle">
                  News <span class="caret1"></span>
                </a>
              </li>

              <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/dealers.html" class="dropdown-toggle">
                  Dealers <span class="caret1"></span>
                </a>
              </li>

              <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                  class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                <a href="/about-us.html" class="dropdown-toggle">
                  About Us <span class="caret1"></span>
                </a>
              </li>

              <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                  data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                  data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                <a href="/contact-us.html" class="dropdown-toggle">
                  Contact Us<span class="caret1"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div id="page">

  <div id="main">

    <div id="content" class="column" role="main">
      <div class="content-wrapper">
        <div id="content-inner">
          <nav class="breadcrumb" role="navigation"><h2 class="element-invisible">You are here</h2>
            <ol>
              <li><a href="/">Home</a> ›</li>
              <li>News</li>
            </ol>
          </nav>
          <a id="main-content"></a>
          <h1 class="page__title title" id="page-title"></h1>
          <article class="node-4511 node node-blog node-promoted node-teaser clearfix"
                   about="/blog/2019 New Year Greetings"
                   typeof="sioc:Post sioct:BlogPost">

            <header>
              <h2 class="node__title node-title">
                <a href="news.html">
                  2019 New Year Greetings
                </a>
              </h2>
              <span property="dc:title" content="2019 New Year Greetings" class="rdf-meta element-hidden"></span>
              <p class="submitted">
                <span property="dc:date dc:created" content="2019-01-01T00:00:00+00:00" datatype="xsd:dateTime"
                      rel="sioc:has_creator">Submitted by
                  <span class="username" xml:lang="" about="/users/charles-ainsworth"
                        typeof="sioc:UserAccount" property="foaf:name" datatype="">
                    Administrator
                  </span> on <time pubdate datetime="2019-01-01T00:00:00+00:00">Tue, 01/01/2019 - 00:00</time>
                </span>
              </p>
            </header>

            <div class="field field-name-field-photo-image field-type-image field-label-hidden">
              <div class="field-items">
                <div class="field-item even"><a
                    href="news.html"><img
                    typeof="foaf:Image"
                    src="http://47.91.86.81/sites/default/files/690x428/1.jpg" width="606"
                    height="404" alt="2019 New Year Greetings"/></a></div>
              </div>
            </div>
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="content:encoded">
                  <p>Merry Christmas and wish you have a happy, prosperous 2019!</p>
                </div>
              </div>
            </div>

            <ul class="links inline">
              <li class="node-readmore first">
                <a href="news.html" rel="tag" title="2019 New Year Greetings">Read more
                <span class="element-invisible">2019 New Year Greetings</span></a>
              </li>
            </ul>

          </article>
        </div>
      </div>

      <div id="navigation">
      </div>

    </div>

    <aside class="sidebars">
      <section class="region region-sidebar-second column sidebar">
        <div id="block-blog-recent" class="block block-blog first odd" role="navigation">
          <h2 class="block__title block-title">Recent posts</h2>
          <div class="item-list">
            <ul>
              <li class="first">
                <a href="news.html" class="active">
                  2019 New Year Greetings
                </a>
              </li>
            </ul>
          </div>
          <div class="more-link">
            <a href="news.html" title="Read the latest blog entries." class="active">More</a>
          </div>
        </div>
        <div id="block-block-3" class="block block-block even">
          <h2 class="block__title block-title">Contact Us</h2>
          <p>Call us on 0086 186 2193 5526 or <a href="contact-us.html">via email</a> for assistance with your order</p>
        </div>
      </section>
    </aside>
  </div>
</div>

<div class="region region-bottom">
  <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
    <ul class="menu">
      <li class="menu__item is-leaf first leaf"><a href="/about-us.html" class="menu__link">About Us</a></li>
      <li class="menu__item is-leaf leaf"><a href="/parts.html" class="menu__link">Parts</a></li>
      <li class="menu__item is-leaf last leaf"><a href="/contact-us.html" class="menu__link">Contact Us</a></li>
    </ul>
  </div>
  <div id="block-block-1" class="block block-block last even">
    <div>© 2018-2019 Onplus Boat</div>
    <div itemscope itemtype="">
      <span itemprop="name">Onplus Boat</span>,
      <span itemprop="streetAddress">Room 201 Building #19,Yinchun Rd No.1800</span>,
      <span itemprop="addressLocality">Minhang District</span>,
      <span itemprop="addressRegion">Shanghai</span>,
      <span itemprop="addressCountry">China</span>
    </div>
  </div>
</div>

<script charset="utf-8" src="http://47.91.86.81/layui/layui.all.js"></script>
<script charset="utf-8" src="http://47.91.86.81/js/news-list.js"></script>
</body>
</html>