<!DOCTYPE html>
<!--[if IEMobile 7]>
<html class="iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="http://118.25.5.174:8001/favicon.ico" type="image/vnd.microsoft.icon"/>
    <meta name="description"
          content="Oneplus Boat gives an unrivalled service in providing boats and equipment to junior and youth dinghy sailors. We supply dinghies and equipment including Optimist Sails and Optimist Dinghy plus lots more..."/>
    <meta name="keywords"
          content="racing dinghies, ibi sailing, Optimist, Optimist sails, Optimist sail, Optimist Dinghy, sailing supplies, racing dinghies, youth racing dinghies, Zhik Clothing, optimist sailing dinghy, dinghy sailing, sailing equipment"/>
    <meta property="og:site_name" content="Oneplus Boat"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://118.25.5.174:8001/"/>
    <meta property="og:title" content="Oneplus Boat"/>
    <meta itemprop="name" content="Oneplus Boat"/>
    <meta name="dcterms.title" content="Oneplus Boat"/>
    <meta name="dcterms.type" content="Text"/>
    <meta name="dcterms.identifier" content="http://118.25.5.174:8001/"/>
    <meta name="dcterms.format" content="text/html"/>
    <title>Optimist Racer | Oneplus Boat</title>

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link type="text/css" rel="stylesheet"
          href="http://118.25.5.174:8001/sites/default/files/advagg_css/css__41zUXBKOEU372pSLHsdFExY9LtvKhniLfUsKL_Avbjk__7euyz90bSKg0_ANgftc3Xf4J_mjPAPtaVr8knRIl6Tc__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://118.25.5.174:8001/sites/default/files/advagg_css/css__nK0VPh-CNQQFunEK_lCl1cut1GZ_ZUQXOOY0wPiQ4aU__C8jfzkpXEtdqNwCJhEZWnfrWeima0ebXQoGT4J_tupk__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet"
          href="http://118.25.5.174:8001/sites/default/files/advagg_css/css__Mj-bIy5ZdhbjdVA7pHj7Qe9m1oxe9CofTDqdsAN1VkQ__3prFeLb_afdguwIlPlT7j2yNOxXL1V-zHkJXtlD9PY0__ajtl5luqwPIno5HZrQI719QK_aLTjJ2u5I7jOUzzXOI.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="http://118.25.5.174:8001/layui/css/layui.css" media="all" />
    <link type="text/css" rel="stylesheet" href="http://118.25.5.174:8001/css/optimist-racer.css" />
    <style>
        .view-homepage .views-field-body h1{ line-height: 2em; font-size: 2em;font-weight: bold;}
        .view-homepage .views-field-body p { font-size: 1.2em; line-height: 23px; margin: 0; }
    </style>
</head>
<body class="html front not-logged-in one-sidebar sidebar-second page-homepage page-views">
<p id="skip-link">
    <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
</p>

<header class="header" id="header" role="banner">
    <div class="header-inner">
        <a href="/" title="Home" rel="home" class="header__logo" id="logo"><img
            src="http://118.25.5.174:8001/sites/default/files/ibi_logo_0.png" alt="Home"
            class="header__logo-image"/></a>
        <div class="header__region region region-header">
             <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu first last odd">
                 <div class="language"><a href="http://118.25.5.174:8001/zh-cn/optimist-racer.html">CH</a>&nbsp;|&nbsp;<a href="#">EN</a></div>
                <div data-duration="400" data-delay="200" id="tb-megamenu-main-menu"
                     class="tb-megamenu tb-megamenu-main-menu style-blue animate elastic">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button"
                            type="button">
                        <i class="icon-reorder"></i>
                    </button>
                    <div class="nav-collapse collapse always-show">
                        <ul class="tb-megamenu-nav nav level-0 items-5">
                            <li data-id="000" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/index.html" class="dropdown-toggle">
                                    Home <span class="caret1"></span>
                                </a>
                            </li>
                            <li data-id="876" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="#" class="dropdown-toggle">
                                    Boats <span class="caret"></span>
                                </a>
                                <div data-class="" data-width=""
                                     class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child">
                                    <div class="mega-dropdown-inner">
                                        <div class="tb-megamenu-row row-fluid">
                                            <div data-showblocktitle="1" data-class="" data-width="1" data-hidewcol=""
                                                 id="tb-megamenu-column-1"
                                                 class="tb-megamenu-column span1  mega-col-nav">
                                                <div class="tb-megamenu-column-inner mega-inner clearfix">
                                                    <div data-type="block" data-block="views--menu_blocks-block"
                                                         class="tb-megamenu-block tb-block tb-megamenu-block">
                                                        <div class="block-inner">
                                                            <div id="block-views-menu-blocks-block"
                                                                 class="block block-views first odd">
                                                                <!--<h2 class="block__title block-title">Boats</h2>-->
                                                                <div class="view view-menu-blocks view-id-menu_blocks view-display-id-block view-dom-id-3e1c4ada56ed6abc52801663a711f0c5">
                                                                    <div class="view-content">
                                                                        <div class="views-row views-row-1 views-row-odd views-row-first">

                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-racer.html">OnePlus Optimist Racer</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-2 views-row-even">

                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/optimist-trainer.html">OnePlus Optimist Trainer</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-3 views-row-odd">

                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/pe-polyethylene-opti.html">OnePlus PE-Polyethylene Opti</a></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="views-row views-row-4 views-row-even views-row-last">

                                                                            <div class="views-field views-field-name">
                                                                                <span class="field-content"><a
                                                                                    href="/parts.html">Parts</a></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li data-id="885" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/news-list.html" class="dropdown-toggle">
                                    News <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="897" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/dealers.html" class="dropdown-toggle">
                                    Dealers <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="907" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0"
                                class="tb-megamenu-item level-1 mega mega-align-right dropdown">
                                <a href="/about-us.html" class="dropdown-toggle">
                                    About Us <span class="caret1"></span>
                                </a>
                            </li>

                            <li data-id="1040" data-level="1" data-type="menu_item" data-class="" data-xicon=""
                                data-caption="" data-alignsub="justify" data-group="0" data-hidewcol="0"
                                data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-justify dropdown">
                                <a href="/contact-us.html" class="dropdown-toggle">
                                    Contact Us<span class="caret1"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div id="page">

    <div id="main">

        <div id="content" class="column" role="main">
            <div class="content-wrapper">
                <div id="content-inner">
                    <!--<nav class="breadcrumb" role="navigation"><h2 class="element-invisible">You are here</h2><ol><li><a href="/">Home</a> › </li><li><a href="#" title="Boats">Boats</a> › </li><li>Optimits-Racer</li></ol></nav>-->
                    <a id="main-content"></a>
                    <h1 class="page__title title" id="page-title">Optimist-Racer</h1>
                    <div class="view view-homepage view-id-homepage view-display-id-page view-dom-id-6f2cac949f64f36bb049843a0e7be506">

                        <div class="view-content">
                            <div id="flexslider-2" class="flexslider_2 layui-carousel">
                                <ul class="slides" carousel-item>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/690x428/1.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <!--<li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/690x428/2.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>-->
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/690x428/3.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/690x428/4.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="views-field views-field-field-slide-image">
                                            <div class="field-content">
                                                <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/690x428/5.jpg" width="690" height="428" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div id="intro-1" class="views-field views-field-body">
                                <div class="field-content">
                                    <h1>OnePlus Optimist Racer</h1>
                                    <!--<h2>OVERVIEW</h2>-->
                                    <p>
                                    <span style="font-size: medium;">
                                        Originally designed in 1947, by Mr. Clark Mills . The Optimist is a small, single-handed sailing dinghy intended for use by children up to the age of 15.<br/>
                                        The Optimist Dinghy has become the world standard as both the introductory junior trainer and a premier one design racing class. <br/>
                                        It is the only sailboat designed specifically for children allowing them to learn the essentials of sailing without danger or fear. It is also the biggest and fastest growing racing class in the world with over 300,000 hulls built worldwide.<br/><br/>

                                        Why OnePlus Boats?<br/>
                                        Our staffs have been working for the production of optimist; services for the repair, championships, more than 15 years.<br/>
                                        Thanks for the globalization, we have accesses to learn advances in Western technology, and to use the world best materials to build the boats. Meanwhile, We Chinese have thousands years history of great craftsmanship. With all of these factors, we OnePlus Boat can make the best quality boats with reasonable price. <br/>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="block-views-homepage-products-block" class="block block-views even">
                        <div class="view view-homepage-products view-id-homepage_products view-display-id-block view-dom-id-9b7599185229c8a2c2150ea8abbca8ed">

                            <div class="view-content">
                                <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-3">
                                    <div class="views-row views-row-1 views-row-first">
                                        <div class="views-column views-column-1 views-column-first">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/1.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/1.jpg" width="220" height="220" alt="Czygar optimist daggerboard"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-2">
                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/2.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/2.jpg" width="220" height="220" alt="DSK Foils DyNaMiS Rudder"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-3 views-column-last">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/3.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/3.jpg" width="220" height="220" alt=""/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-row views-row-2 views-row-last">
                                        <div class="views-column views-column-1 views-column-first">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/4.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/4.jpg" width="220" height="220" alt="Czygar optimist daggerboard"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-2">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/5.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/5.jpg" width="220" height="220" alt="DSK Foils DyNaMiS Rudder"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="views-column views-column-3 views-column-last">

                                            <div class="views-field views-field-uc-product-image">
                                                <div class="field-content">
                                                    <a href="javascript:;">
                                                        <img typeof="foaf:Image" src="http://118.25.5.174:8001/sites/default/files/optimist-racer/225x225/6.jpg" layer-src="http://118.25.5.174:8001/sites/default/files/optimist-racer/600x600/6.jpg" width="220" height="220" alt=""/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="navigation">
            </div>
        </div>

        <aside class="sidebars">
            <section class="region region-sidebar-second column sidebar">
                <div id="block-bean-boat-repair" class="block block-bean first odd">
                    <h2 class="block__title block-title">PARTS</h2>
                    <div class="entity entity-bean bean-homepage-block clearfix" about="parts" typeof="">
                        <div class="content">
                            <div class="field field-name-field-image-block field-type-image field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://118.25.5.174:8001/sites/default/files/parts/190x120/OPBS302 Sleeve School Sail.jpg"
                                                 width="120" alt="OPBS302 Sleeve School Sail" title="OPBS302 Sleeve School Sail"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://118.25.5.174:8001/sites/default/files/parts/190x120/OPBS303 Eyelet School Sail.jpg"
                                                 width="120" alt="OPBS303 Eyelet School Sail" title="OPBS303 Eyelet School Sail"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://118.25.5.174:8001/sites/default/files/parts/190x120/OPBS401 GRP School Daggerboard.jpg"
                                                 width="120" alt="OPBS401 GRP School Daggerboard" title="OPBS401 GRP School Daggerboard"/>
                                        </a>
                                    </div>
                                    <div class="field-item">
                                        <a href="parts.html">
                                            <img typeof="foaf:Image"
                                                 src="http://118.25.5.174:8001/sites/default/files/parts/190x120/OPBS402 GRP School Rudder, Tiller& Tiller Extension.jpg"
                                                 width="120" alt="OPBS402 GRP School Rudder, Tiller& Tiller Extension" title="OPBS402 GRP School Rudder, Tiller& Tiller Extension"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="block-views-blog-posts-block" class="block block-views even">
                    <h2 class="block__title block-title">News...</h2>
                    <div class="view view-blog-posts view-id-blog_posts view-display-id-block view-dom-id-76e88c68cdb6da7a6c8c1cb7951e0653">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                <div class="views-field views-field-field-photo-image">
                                    <div class="field-content">
                                        <a href="/news-list.html" target="_blank">
                                            <img typeof="foaf:Image"
                                                 src="http://118.25.5.174:8001/sites/default/files/news.jpg"
                                                 width="270" height="175" alt="2019 New Year Greetings"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="views-field views-field-title">
                                    <span class="field-content">
                                        <a href="/news-list.html">
                                            2019 New Year Greetings
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="block-views-table-block" class="block block-views last even">
                    <div class="table">
                        <div class="table-column-group">
                            <div class="table-column table-column1"></div>
                            <div class="table-column"></div>
                        </div>
                        <div class="table-header-group" style="display: none;">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">规格</li>
                                <li class="table-cell">数据</li>
                            </ul>
                        </div>
                        <div class="table-row-group">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">SPEC</li>
                                <li class="table-cell">OnePlus Racer</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Length</li>
                                <li class="table-cell">2.3m</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Beam</li>
                                <li class="table-cell">1.14m</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Hull Weight</li>
                                <li class="table-cell">35kg</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Sail Area</li>
                                <li class="table-cell">3.25㎡</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Material</li>
                                <li class="table-cell">GRP</li>
                            </ul>
                            <ul class="table-row">
                                <li class="table-cell table-cell1">Crew</li>
                                <li class="table-cell">1</li>
                            </ul>
                        </div>
                        <div class="table-footer-group">
                            <ul class="table-row">
                                <li class="table-cell table-cell1">footer</li>
                                <li class="table-cell">footer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</div>

<div class="region region-bottom">
    <div id="block-menu-menu-footer-menu" class="block block-menu first odd" role="navigation">
        <ul class="menu">
            <li class="menu__item is-leaf first leaf"><a href="/about-us.html" class="menu__link">About Us</a></li>
            <li class="menu__item is-leaf leaf is-active-trail active-trail "><a href="/optimist-racer.html" class="menu__link is-active-trail active-trail active">Boats</a></li>
            <li class="menu__item is-leaf last leaf"><a href="/contact-us.html" class="menu__link">Contact Us</a></li>
        </ul>
    </div>
    <div id="block-block-1" class="block block-block last even">
        <div>© 2018-2019 OnePlus Boat</div>
        <div itemscope itemtype="">
            <span itemprop="name">OnePlus Boat</span>,
            <span itemprop="streetAddress">Room 201 Building #19,Yinchun Rd No.1800</span>,
            <span itemprop="addressLocality">Minhang District</span>,
            <span itemprop="addressRegion">Shanghai</span>,
            <span itemprop="addressCountry">China</span>
        </div>
    </div>
</div>

<script charset="utf-8" src="http://118.25.5.174:8001/layui/layui.all.js"></script>
<script charset="utf-8" src="http://118.25.5.174:8001/js/optimist-racer.js"></script>
</body>
</html>